@use "../abstracts/variables";

@mixin dark-theme {
  color-scheme: dark;

  --body-color: #{variables.$body-color-dark};
  --body-bg: #{variables.$body-bg-dark};
  --link-color: #{variables.$link-color-dark};

  --content-border-color: #{variables.$content-border-color-dark};

  --form-field-border-color: #{variables.$form-field-border-color-dark};
  --form-field-hint-color: #{variables.$form-field-hint-color-dark};
  --form-field-error-color: #{variables.$form-field-error-color-dark};
  --form-field-focus-ring-color: #{variables.$form-field-focus-ring-color-dark};
  --form-field-disabled-bg: #{variables.$form-field-disabled-bg-dark};
}

:root {
  color-scheme: light;

  --body-color: #{variables.$body-color};
  --body-bg: #{variables.$body-bg};
  --link-color: #{variables.$link-color};

  --content-border-color: #{variables.$content-border-color};

  --form-field-border-color: #{variables.$form-field-border-color};
  --form-field-hint-color: #{variables.$form-field-hint-color};
  --form-field-error-color: #{variables.$form-field-error-color};
  --form-field-focus-ring-color: #{variables.$form-field-focus-ring-color};
  --form-field-disabled-bg: #{variables.$form-field-disabled-bg};
}

@if variables.$enable-dark-mode {
  @media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
      @include dark-theme;
    }
  }

  :root[data-theme="dark"] {
    @include dark-theme;
  }
}
