{% extends "_layouts/base.njk" %}

{% set page = {
  title: "Home",
  activeMenu: "home",
  url: "/"
} %}

{% block content %}
<section class="content">
    <h1>Starterkit</h1>
    <p>Start building your next project.</p>
    <p><a href="/playground.html">Open the HTML elements playground</a></p>
</section>
{% endblock %}