<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  {# <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" /> #}
  <link rel="stylesheet" href="/assets/css/styles{% if build.isProd %}.min{% endif %}.css">
</head>

<body>
  {% include "_parts/header.njk" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "_parts/footer.njk" %}

  <script src="/assets/js/app{% if build.isProd %}.min{% endif %}.js" defer></script>

  {% block pageScripts %}{% endblock %}
</body>

</html>