<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles{% if build.isProd %}.min{% endif %}.css">
</head>

<body>
  {% include "_parts/header.njk" %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include "_parts/footer.njk" %}

  <script src="/assets/js/app.js" defer></script>
</body>

</html>